<!DOCTYPE html>
<html>
<head>
<title>Blog App</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
<!-- HAVE TO ADD root slash for stylesheets to be able to be found -->
<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
<div class="ui inverted fixed menu">
    <div class="ui container">
        <div class="header item">
            <i class="code icon"></i>Blog Site
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>  
</div>